@import "bootstrap/less/bootstrap";
@import (less) "highlight.js/styles/github.css";
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif);

@body-bg: #ebf0ff;
@jumbotron-color: @body-bg;
@font-family-base: Raleway, sans-serif;
@font-size-base: 17px;
@brand-primary: #ff720c;
@headings-font-weight: bold;
@headings-color: @gray-darker;

.jumbotron {
    background: linear-gradient(to right, @brand-primary, #044CBF);
    font-family: 'Droid Serif', @font-family-serif;
}

section {
    h1 {
        border-bottom: 1px solid;
        padding-bottom: 5px;
    }
    h4 {
        font-style: italic;
    }
}
main:extend(.container) {

}

.hljs {
    white-space: pre;
}
